#header {
  z-index: 100;
  left: 0;
  top: 0px;
  height: 5%;
  width: 100%;
  position: fixed;
  background-color: #3a5795;
}
#header nav {
  width: 700px;
  margin: 0 auto;
  margin: auto;
  position: center;
}
#header nav li {
  font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  display: inline;
  color: white;
  height: 5%;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}
#header nav li a {
  color: black;
  background-color: #3a5795;
  padding: 12px 14px;
  margin-top: auto;
  line-height: auto;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  width: auto;
}
#header nav li a:hover {
  background: #004440;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  width: 160px;
}

