<ul class="nav nav-tabs" role="tablist">
	<li><a class="navCategory">Personal Information</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle navCategory" data-toggle="dropdown" href="#" >Courses<span class="caret"></span></a>
		<ul class="dropdown-menu">
				<li><a href="/courses" >Add/Search Courses</a></li>
				<li><a href="/drop_courses">View Current Courses/Drop Courses</a></li>
				<li><a href="/timetable" >Timetable</a></li>
				<li><a href="/planningSheet" >Planning Sheet</a></li>
		</ul>
	</li>
</ul>
